.app-wrapper {
  display: grid;
  grid-template-areas: 
  "header header"
  "navigation content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  width: 1200px;
  margin: 0 auto;
  border: 5px dashed brown;
}

.header {
  grid-area: header;
  background: forestgreen;
}

.header img {
  width: 100px;
}

.navigation {
  grid-area: navigation;
  background: peru;
}

.content {
  grid-area: content;
  background: lightpink;
}

.banner img{
  width: 100%;
}

